@import "./../abstract/var";

.cta-course-container {
    width: 87%;
    margin: 10% auto 5% auto;
    text-align: justify;
    .cta-title {
        font-size: 2.5rem;
        margin: 15px 0;
        span{
            color: $third-color;
        }
    }
    .cta-text {
        margin: 0;
    }
    .cta-list {
        .cta-item {
            list-style-type:disc;
            color: $third-color;
            margin-bottom: 5px;
        }
    }
    .cta-button {
        display: block;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 0;
        margin: 2rem 0;
        background: $first-color;
        color: $fourth-color;
    }
    .cta-button:hover {
        background: $third-color;
        color: $first-color;
    }
}

@media screen and (max-width: 700px) {
    .cta-course-container .cta-button {
        font-size: 1.5rem;
    }
}
