@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  color: #EEEEEE;
  font-family: "Sora", sans-serif;
}

body {
  background: url("./../images/2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.widgets {
  position: fixed;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  margin: 0 auto;
  padding: 80px 0 1rem 0;
}
nav .nav-logo {
  color: #EEEEEE;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  text-shadow: 0 0 10px #FFD369;
}
nav .social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
}
nav .social-media img {
  width: 30px;
  border-radius: 50%;
  border: 2px solid #EEEEEE;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
  nav ul {
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  nav .logo {
    font-size: 1.25rem;
  }
  nav .social-media {
    gap: 0.3rem;
  }
}
.banner {
  width: 87%;
  margin: 10% auto;
}
.banner .banner-content {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.banner .banner-content .banner-description {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.banner .banner-content .banner-description .banner-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner .banner-content .banner-description .banner-title span {
  color: #FFD369;
}
.banner .banner-content .banner-description .banner-text {
  margin: 0;
  font-size: 1.5rem;
}
.banner .banner-content .banner-image {
  width: 40%;
  height: 100%;
  position: relative;
}
.banner .banner-content .banner-image img {
  position: relative;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.banner .banner-content .banner-image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  outline: 5px solid #FFD369;
  top: 15px;
  left: 15px;
  z-index: 1;
}
.banner .banner-button {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 0;
  background: #222831;
  color: #EEEEEE;
  width: 60%;
  margin: 10% auto 0 auto;
}
.banner .banner-button:hover {
  background: #FFD369;
  color: #222831;
}

@media screen and (max-width: 1050px) {
  .banner .banner-content {
    flex-direction: column;
    height: auto;
  }
  .banner .banner-content .banner-description {
    width: 100%;
    gap: 15px;
  }
  .banner .banner-content .banner-image {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .banner .banner-content .banner-description .banner-text {
    font-size: 1.25rem;
  }
  .banner .banner-button {
    font-size: 1.5rem;
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .banner .banner-content .banner-description .banner-title {
    font-size: 1.5rem;
  }
}
.transition-container {
  width: 87%;
  margin: 10% auto;
  padding: 5% 0;
}
.transition-container .transition-title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.transition-container .transition-title span {
  color: #FFD369;
}
.transition-container .transition-text {
  font-size: 1.5rem;
  margin-top: 5%;
  text-align: center;
}

.transition-course {
  border-bottom: 1px solid #FFD369;
}

.transition-ebook {
  border-top: 1px solid #FFD369;
}

@media screen and (max-width: 700px) {
  .transition-container .transition-text {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 450px) {
  .transition-container .transition-title {
    font-size: 2rem;
  }
}
.courses-container {
  width: 87%;
  margin: 5% auto;
}
.courses-container .carousel-item {
  height: 600px;
}
.courses-container .carousel-item .item-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.courses-container .carousel-item .item-content .course-description {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  padding: 1.5% 1.5% 0 1.5%;
}
.courses-container .carousel-item .item-content .course-description .course-title {
  font-size: 2.5rem;
}
.courses-container .carousel-item .item-content .course-description .course-text {
  font-size: 1rem;
}
.courses-container .carousel-item .item-content .course-description .button {
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem 0;
  background: #222831;
  color: #EEEEEE;
}
.courses-container .carousel-item .item-content .course-description .button:hover {
  background: #FFD369;
  color: #222831;
}
.courses-container .carousel-item .item-content .image-container {
  width: 60%;
  height: 100%;
}
.courses-container .carousel-item .item-content .image-container .carousel-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.8);
  border-radius: 16px;
}

@media screen and (max-width: 1450px) {
  .courses-container .carousel-item {
    height: 1000px;
  }
  .courses-container .carousel-item .item-content .course-description {
    padding: 0;
  }
  .courses-container .carousel-item .item-content {
    flex-direction: column;
  }
  .courses-container .carousel-item .item-content .image-container {
    width: 100%;
    height: 50%;
  }
  .courses-container .carousel-item .item-content .course-description {
    width: 100%;
    height: 50%;
  }
}
@media screen and (max-width: 800px) {
  .courses-container .carousel-item {
    height: 1180px;
  }
}
@media screen and (max-width: 550px) {
  .courses-container .carousel-item {
    height: 1400px;
  }
}
@media screen and (max-width: 450px) {
  .courses-container .carousel-item {
    height: 1800px;
  }
}
@media screen and (max-width: 350px) {
  .courses-container .carousel-item {
    height: 1900px;
  }
}
.cta-course-container {
  width: 87%;
  margin: 10% auto 5% auto;
}
.cta-course-container .cta-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 15px 0;
}
.cta-course-container .cta-title span {
  color: #FFD369;
}
.cta-course-container .cta-text {
  text-align: center;
  margin: 30px 0;
}
.cta-course-container .cta-list {
  margin: 0 auto;
  width: 40%;
}
.cta-course-container .cta-list .cta-item {
  list-style-type: disc;
  color: #FFD369;
  margin-bottom: 5px;
}
.cta-course-container .cta-button {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 0;
  margin: 10% auto 0 auto;
  background: #222831;
  color: #EEEEEE;
  width: 60%;
}
.cta-course-container .cta-button:hover {
  background: #FFD369;
  color: #222831;
}

@media screen and (max-width: 700px) {
  .cta-course-container .cta-list {
    width: 90%;
  }
  .cta-course-container .cta-button {
    font-size: 1.5rem;
    width: 90%;
  }
}
.ebooks h2 {
  margin: 10% 6.5% 0 6.5%;
  font-size: 2rem;
  font-weight: 600;
}

.ebooks-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ebooks-content .container {
  max-width: 87%;
  width: 100%;
  padding: 40px 0;
}
.ebooks-content .container .slide-container {
  overflow: hidden;
}
.ebooks-content .container .slide-container .card {
  background: #EEEEEE;
  border-radius: 8px;
}
.ebooks-content .container .slide-container .card .image-box {
  height: 200px;
}
.ebooks-content .container .slide-container .card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.8);
}
.ebooks-content .container .slide-container .card .ebook-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #393E46;
  color: #EEEEEE;
  border-radius: 0 0 8px 8px;
}
.ebooks-content .container .slide-container .card .ebook-details .ebook-title {
  font-size: 1rem;
  height: 70px;
  margin: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.ebooks-content .container .slide-container .card .ebook-details .link-button {
  text-decoration: none;
}
.ebooks-content .container .slide-container .card .ebook-details .link-button .ebook-button {
  font-size: 1rem;
  background: #222831;
  color: #EEEEEE;
  padding: 1rem 0;
  border-radius: 0 0 8px 8px;
  font-weight: bold;
  text-transform: uppercase;
}
.ebooks-content .container .slide-container .card .ebook-details .link-button .ebook-button:hover {
  background: #FFD369;
  color: #222831;
  font-weight: bold;
}

.card .image-box .ebook-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #393E46;
  color: #EEEEEE;
  border-radius: 0 0 8px 8px;
}

.swiper-navBtn {
  color: #FFD369;
  height: 40px;
  width: 40px;
  background: #393E46;
  border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #FFD369;
}

@media screen and (max-width: 768px) {
  .ebooks h2 {
    text-align: center;
    margin-top: 15%;
  }
  .swiper-navBtn {
    display: none;
  }
}
.about-container {
  width: 87%;
  margin: 10% auto 0 auto;
}
.about-container .about-title {
  font-size: 2rem;
  font-weight: 600;
}
.about-container .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.about-container .about-content .about-image-container {
  position: relative;
  min-width: 350px;
  height: 430px;
}
.about-container .about-content .about-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 2;
}
.about-container .about-content .about-image-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  outline: 5px solid #FFD369;
  top: 15px;
  left: 15px;
  z-index: 1;
}
.about-container .about-content .about-description {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  border-top: 1px solid #FFD369;
  border-bottom: 1px solid #FFD369;
}
.about-container .about-content .about-description .description-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.about-container .about-content .about-description .description-text {
  font-size: 1rem;
  text-align: justify;
  margin: 0;
}
.about-container .about-button {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 0;
  margin: 2rem 0;
  background: #222831;
  color: #EEEEEE;
  width: 60%;
  margin: 10% auto 0 auto;
}
.about-container .about-button:hover {
  background: #FFD369;
  color: #222831;
}

@media screen and (max-width: 1800px) {
  .about-container .about-content .about-description {
    width: 55%;
  }
}
@media screen and (max-width: 1600px) {
  .about-container .about-content .about-description {
    width: 50%;
  }
}
@media screen and (max-width: 1400px) {
  .about-container .about-content .about-description {
    width: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .about-container .about-content {
    flex-direction: column;
    gap: 50px;
  }
  .about-container .about-content .about-description {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .about-title {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .about-container .about-button {
    width: 90%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .about-container .about-content .about-image-container {
    min-width: 270px;
    height: 350px;
  }
}
.faq-container {
  margin: 5% 6.5%;
}
.faq-container .faq-title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 40px;
}
.faq-container .faq-content {
  width: 60%;
  margin: 40px 0;
}
.faq-container .faq-content details summary {
  padding: 1rem;
  background: rgba(57, 62, 70, 0.5);
  border-bottom: 1px solid rgba(255, 211, 105, 0.1);
}
.faq-container .faq-content details p {
  background: rgba(34, 40, 49, 0.7);
  padding: 1rem 3rem;
  font-size: 0.8rem;
  color: #EEEEEE;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .faq-container .faq-content {
    width: 100%;
  }
}
.warning {
  width: 87%;
  margin: 10% auto 5% auto;
  background: rgba(57, 62, 70, 0.3);
  padding: 1.5rem;
  border: 3px solid #FFD369;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 16px;
}
.warning .warning-text {
  margin: 0;
}
.warning .warning-text span {
  font-weight: 600;
}

footer {
  margin-top: 2rem;
  padding: 3rem 10% 0.3rem 10%;
  background-color: #222831;
  color: #EEEEEE;
}
footer .footer-container {
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}
footer .footer-container .footer-logo .footer-text {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
  text-shadow: 0 0 10px #FFD369;
}
footer .footer-container .community {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-container .community .community-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
footer .footer-container .community .media-list {
  display: flex;
  gap: 1rem;
  padding: 0;
}
footer .footer-container .community .media-list .media-item {
  text-decoration: none;
  color: #EEEEEE;
  font-size: 0.9rem;
  border-left: 5px solid #FFD369;
  padding-left: 0.5rem;
}
footer .footer-container .community .media-list a:hover {
  color: #FFD369;
}
footer .copywrite {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
footer .copywrite a {
  text-decoration: none;
  color: #FFD369;
}

@media (max-width: 1000px) {
  footer {
    padding: 7rem 0.5rem 1rem 0.5rem;
  }
  footer .footer-container {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 90%;
  }
  footer .footer-container .community {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */